<h3>Reactive Forms Example</h3>

<div class="form">
  <form [formGroup]="demoFormGroup" (ngSubmit)="onFormSubmit()" method="post">
    <div><input type="text" placeholder="First name" formControlName="fname"></div>
    <div><input type="text" placeholder="Last name" formControlName="lname"></div>
    <div><input type="text" placeholder="Email ID" formControlName="email"></div>
    <div>
      <button type="submit">Submit</button>
      <button type="button" (click)="setValue()">setValue</button>
      <button type="button" (click)="patchValue()">patchValue</button>
      <button type="button" (click)="reset()">Reset</button>
    </div>
  </form>
</div>